<h1> All Individuals </h1>
<table>
  <tr>  
    <th> Gender </th>
    <th> Height </th>
    <th> Weight </th>
  </tr>
  <% @individuals.each do |indiv| %>
  <tr>
      <td> <%= indiv.gender %> </td>
      <td> <%= indiv.weight %> </td>
      <td> <%= indiv.height %> </td>
  </tr>
  <% end %>
</table>
