<ul id="navigation">
  <li><%= link_to "Run a Sample", new_sample_url %></li>
  <li><%= link_to "Add Training Data", new_individual_url %></li>
  <li><%= link_to "Training Data",   individuals_url %></li>
</ul>
