// Place all the styles related to the Samples controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// Make response from form red
#response {
  color: green;
}

.extreme_number {
  background-color: pink;  
}

// Navigation
#navigation {
  list-style-type: none;
  height: 30px;
  width: 650px;
  margin: auto;
}

// Navigation
#navigation li {
 float: left;
}

// Navigation
#navigation a {
  padding-left: 32px;  
  padding-right: 32px;  
}

